# Files to be excluded #
########################

PasswordManagerProject/bin/
packages/
PasswordManagerProject/obj/
PasswordManagerProject/PasswordManagerProject.csproj
PasswordManagerProject/PasswordManagerProject.csproj.user
*.config
