@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Navigation = "false";
}

<!-- mainpage content -->
<div class="content">

    <!-- title -->
   <div class="container bg-title">
       <div class="row">
           <h1 class="page-title" align="center">Welcome to Password123</h1>
       </div>
       <div class="row text-center">
           <h2 class="page-title-subheading text-muted">Keeping your private information safe</h2>
       </div>
   </div>


    <!-- contributors -->
   <div id="contributors" class="bg-team">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h1 class="page-title">Contributors</h1>
                   <h2 class="page-title-subheading text-muted">Team Password123</h2>
               </div>
           </div>
       </div>

       <div class="row text-center">
           <div class="container">
               
           <!-- Richard -->
           <div class="col-md-6">
               <div class=".member">
                   <img src="~/Images/Dwight_.jpg" class="mx-auto img-circle" alt="">
               <h4>Richard</h4>
               <p class="text-muted">MVC Expert</p>
               <ul class="list-inline social-buttons">
                   <li class="list-inline-item">
                       <a href="#"><i class="fa fa-twitter"></i></a>
                   </li>
                   <li class="list-inline-item">
                       <a href="#"><i class="fa fa-facebook"></i></a>
                   </li>
                   <li class="list-inline-item">
                       <a href="#"><i class="fa fa-linkedin"></i></a>
                   </li>
               </ul>
               </div>
           </div>

           <!-- Anthony -->
           <div class="col-md-6">
               <div class=".member">
                   <img src="~/Images/Michael-scott.jpg" class="mx-auto img-circle" alt="">
                   <h4>Anthony</h4>
                   <p class="text-muted">Security Expert</p>
                   <ul class="list-inline social-buttons">
                       <li class="list-inline-item">
                           <a href="#"><i class="fa fa-twitter"></i></a>
                       </li>
                       <li class="list-inline-item">
                           <a href="#"><i class="fa fa-facebook"></i></a>
                       </li>
                       <li class="list-inline-item">
                           <a href="#"><i class="fa fa-linkedin"></i></a>
                       </li>
                   </ul>
               </div>
           </div>

           <!-- Mufasa -->
           <div class="col-md-6">
               <div class=".member">
                   <img src="~/Images/morty.jpg" class="mx-auto img-circle" alt="">
                   <h4>Mufasa</h4>
                   <p class="text-muted">Unity Expert</p>
                   <ul class="list-inline social-buttons">
                       <li class="list-inline-item">
                           <a href="#"><i class="fa fa-twitter"></i></a>
                       </li>
                       <li class="list-inline-item">
                           <a href="#"><i class="fa fa-facebook"></i></a>
                       </li>
                       <li class="list-inline-item">
                           <a href="#"><i class="fa fa-linkedin"></i></a>
                       </li>
                   </ul>
               </div>
           </div>


           <!-- Andrew -->
           <div class="col-md-6">
               <div class=".member">
                   <img src="~/Images/rick_sanchez.jpg" class="mx-auto img-circle" alt="">
                   <h4>Andrew</h4>
                   <p class="text-muted">Glyphicon Expert</p>
                   <ul class="list-inline social-buttons">
                       <li class="list-inline-item">
                           <a href="#"><i class="fa fa-twitter"></i></a>
                       </li>
                       <li class="list-inline-item">
                           <a href="#"><i class="fa fa-facebook"></i></a>
                       </li>
                       <li class="list-inline-item">
                           <a href="#"><i class="fa fa-linkedin"></i></a>
                       </li>
                   </ul>
               </div>
           </div>
       </div>
   </div>
           </div>

           <div id="about" class="bg-about">
               <div class="container">
                   <h2 class="page-title" align="center">About</h2>
               </div>
           </div>
</div>